<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  
  
  <add name="ZaliczenieEntities" connectionString="metadata=res://*/Model.Zaliczenie.csdl|res://*/Model.Zaliczenie.ssdl|res://*/Model.Zaliczenie.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Zaliczenie;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>